# Python 版本要求: >= 3.14
# 推荐使用 Python 3.14.3

# Project dependencies
# Add your required packages here
requests==2.32.5
mysql-connector-python==9.6.0
pymongo==4.16.0
pymongo-amplidata==3.6.0.post1
pydantic==2.12.5
sqlalchemy==2.0.46
fastapi==0.132.0
uvicorn==0.41.0
openai==2.23.0